/**
 * 変数
 */

:root {
  --text-color: hsl(0, 0%, 20%);  /* #333 */
  --background-color: hsl(40, 38%, 97%);
  --monochrome-bright: hsl(0, 0%, 90%);
  --monochrome-light: hsl(0, 0%, 85%);
  --monochrome-midlight: hsl(0, 0%, 75%);
  --monochrome-medium: hsl(0, 0%, 68%);
  --monochrome-dark: hsl(0, 0%, 45%);
  --main-color: hsl(202, 35%, 50%);
  --main-color-light: hsl(202, 35%, 65%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: hsl(40, 38%, 97%);
    --background-color: hsl(0, 0%, 20%);
    --monochrome-bright: hsl(0, 0%, 13%);
    --monochrome-light: hsl(0, 0%, 33%);
    --monochrome-midlight: hsl(0, 0%, 45%);
    --monochrome-medium: hsl(0, 0%, 50%);
    --monochrome-dark: hsl(0, 0%, 65%);
    --main-color: hsl(349, 39%, 63%);
    --main-color-light: hsl(349, 39%, 58%);
  }
}
